extends layout

block content
  div.container
    div.row
      div.col-md-6-col-md-offset-3
        p Profile Info
        form(role='role', name='updateprofile', action='/user/#{user._id}', method='POST')
          .form-group
          p Firstname:
            input.form-control(type='text', value='#{user.firstname}', name='firstname')
          .form-group
          p Lastname:
            input.form-control(type='text', value='#{user.lastname}', name='lastname')
          .form-group
          p Email:
            input.form-control(type='text', value='#{user.email}', name='email')
          .form-group
          p Password:
            input.form-control(type='text', value='#{user.password}', name='password')
          p
            input(type='hidden', value='PUT', name='_method')
          P
            button(type='submit') Update
            &nbsp;
            a(href='/blog')
              button.btn.btn-primary(type='button') Cancel



