extends ../layout

block content
  nav.navbar.navbar-default
    div.container
      div.navbar-header
        button(type='button', class='navbar-toggle collapsed')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        p.navbar-brand Bloggger #{user.firstname} 
      div.navbar-collapse.collapse(id='navbar')
        ul.nav.navbar-nav.pull-right
          li
            a(href='/user/#{user._id}') Update Profile
          li
            a(href='/user/#{user._id}/blog') Blog
          li
            a(href='/logout') Logout
  div.container
    div(style='padding:60px 15px')
      p #{message}
      if blogs && blogs.length > 0
        ul.list-group
          each blog, i in blogs
           li.list-group-item
            h2 #{blog.title}
            p #{blog.body}
            p #{blog.date.toDateString()}
            p #{blog.author}