extends ../layout

block content
  h1 Welcome to Blog App
  hr 
  p #{user.firstname}
  p 
    a(href='/user/#{user._id}') Update Profile
  p 
    a(href='/blog/add') Add Blog 
  p 
    a(href='/logout') Logout
  br
  p #{message}
  p #{blogs}
  if blogs && blogs.length > 0
  ul
    each blog, i in blogs
      li
        = blog.title
        br
        = blog.body
        br
        = blog.date
        br
        = blog.author
        form(action='/blog/#{blog._id}', method='POST')
          input(type='hidden', value='DELETE', name='_method')
          button(type='submit') Delete
          &nbsp;
          a(href='/blog/edit/#{blog._id}') Edit